# Django Settings
SECRET_KEY=django-insecure-change-this-in-production-key-surplus-backend
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database Configuration (Neon DB / PostgreSQL Cloud)
DATABASE_URL=postgresql://neondb_owner:npg_kONtdCLz1I8Y@ep-gentle-surf-b4efeymw-pooler.c-6.us-east-2.aws.neon.tech/neondb?sslmode=require

# CORS & CSRF Settings
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173,http://127.0.0.1:3000,http://127.0.0.1:5173
CORS_ALLOW_ALL_ORIGINS=True
CSRF_TRUSTED_ORIGINS=https://yourdjango.onrender.com,http://localhost:3000

# Cloudflare R2 Media Storage
USE_R2=False
R2_ACCESS_KEY_ID=your_r2_access_key_id
R2_SECRET_ACCESS_KEY=your_r2_secret_access_key
R2_BUCKET_NAME=app-staging-media
R2_ENDPOINT_URL=https://<accountid>.r2.cloudflarestorage.com


# Standard Django SMTP (Backup)
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.zeptomail.in
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=emailapikey
EMAIL_HOST_PASSWORD=your_zeptomail_smtp_password
DEFAULT_FROM_EMAIL=Surplus Market <noreply@surplusmarket.com>

